<!DOCTYPE html>
<html ng-app="lesson" ng-controller="lesson12">
  <head>
  <meta http-equiv="Content-Type" content="text/html"  charset="utf-8">
  <title>
	LESSON 12
  </title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
  <style>
  #content1{padding:16px;}
  body{
  	font-family: "微软雅黑";
  }
  table
  {
  border-collapse:collapse;
 
  }

table,th, td
  {
  border: 1px solid skyblue;
  vertical-align:top;
  padding:8px 24px;
  }

  </style>

  </head>

  <body>
  
  
  <p ng-show="IsLoading">订单加载中...</p>
	
	
	<div ng-show="!IsLoading" class="container" style="margin-top: 50px;">
		<div>
			<span>订单编号：</span><input ng-model="searchname" style="width: 418px;"></input> <button ng-click='searchOrder()'>查询</button>
			<button ng-click='DeleteOrders()'>批量删除</button>
			<button ng-click='' data-toggle="modal" data-target="#myModal">添加</button>
		</div> 
	<!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">添加信息</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <ul >
                                        <li>姓名<input type="text" class="form-control" ng-model="addList.name"></li>
                                        <li>年龄<input type="text" class="form-control" ng-model="addList.age"></li>
                                        <li>职业<input type="text" class="form-control" ng-model="addList.profession"></li>
                                        <li>兴趣<input type="text" class="form-control" ng-model="addList.hobby"></li>
                                        <li>体重<input type="text" class="form-control" ng-model="addList.weight"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="addMsg()" data-dismiss="modal" aria-label="Close">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
		<!-- Modal -->
	
		<table style="margin-top: 30px;">
			<thead>
				<tr>
					<th>选中</th>
					<th>姓名</th>
					<th>年龄</th>
					<th>职业</th>
					<th>&nbsp;&nbsp;&nbsp;兴趣</th>
					<th>体重</th>
					<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="x in orderList ">
					<td><input type="checkbox" ng-model="x.selected" ></td>
					<td>{{x.name}}</td>
					<td>{{x.age}}</td>		
					<td>{{x.profession}}</td>
					<td>{{x.hobby}}</td>
					<td>{{x.weight}}</td>
					<td><button ng-click="DeleteOrder(x.name)">删除</button>
					<button ng-click="infoChange($index)" data-toggle="modal" data-target="#myModal2">修改</button></td>
					
				</tr>
			</tbody>
		</table>
		
		<!-- Modal -->
                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel2">添加信息</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <ul >
                                        <li>姓名<input type="text" class="form-control" ng-model="change.name"></li>
                                        <li>年龄<input type="text" class="form-control" ng-model="change.age"></li>
                                        <li>职业<input type="text" class="form-control" ng-model="change.profession"></li>
                                        <li>兴趣<input type="text" class="form-control" ng-model="change.hobby"></li>
                                        <li>体重<input type="text" class="form-control" ng-model="change.weight"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="saveChange()" data-dismiss="modal" aria-label="Close">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
		<!-- Modal -->
		
	</div>
	<script src="scripts/jquery-3.1.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="scripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="scripts/angular-1.4.6.min.js"></script>
	<script>

	Array.prototype.remove=function(dx)
　{
　　if(isNaN(dx)||dx>this.length){return false;}
　　for(var i=0,n=0;i<this.length;i++)
　　{
　　　　if(this[i]!=this[dx])
　　　　{
　　　　　　this[n++]=this[i]
　　　　}
　　}
　　this.length-=1
　}
	
		var app = angular.module("lesson",[]);
		app.controller("lesson12",function($scope){
			

			
			$scope.orderListBase =[
				{
					name : '001',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '002',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '003',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '004',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '005',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '006',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '007',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '008',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '009',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '010',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '011',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '012',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '013',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '014',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				{
					name : '015',
					age: '30',
					profession: '纪检委',
					hobby: '明察暗访',
					weight: '60kg',
					selected:false
				},
				
				
			];
			
			$scope.orderList = [];
			
			$scope.IsLoading = false;
			$scope.LoadOrderList = function(accountId,pageSize,pageIndex){
				$scope.IsLoading=true;
				$scope.orderList = $scope.orderListBase;
				$scope.IsLoading=false;
			}
			
			$scope.orderFilter = function(order){
				if($scope.searchname!=''){
					return order.name.indexOf($scope.searchname)>=0;
				}
			}
			
			$scope.addList = [{name : '',age: '',profession: '',hobby: '',weight: '',}];
	    $scope.addMsg = function () {
	        $scope.orderList.push($scope.addList);
	        $scope.addList = [{name : '',age: '',profession: '',hobby: '',weight: '',}];
	    };
			
			
			$scope.infoChange = function (index) {
        $scope.change = [{name : '',age: '',profession: '',hobby: '',weight: '',}];
        $scope.change.name = $scope.orderList[index].name;
        $scope.change.age = $scope.orderList[index].age;
        $scope.change.profession = $scope.orderList[index].profession;
        $scope.change.hobby = $scope.orderList[index].hobby;
        $scope.change.weight = $scope.orderList[index].weight;
        
        $scope.saveChange = function () {
            $scope.orderList[index] = $scope.change
        }
    };
			
			$scope.searchOrder = function(){
				var searchOrderList = [];
				for(var  i in $scope.orderListBase){
					if($scope.orderListBase[i].name.indexOf($scope.searchname) >=0){
						searchOrderList.push($scope.orderListBase[i]);
					}
				}
				$scope.orderList = searchOrderList;
			}
			
			$scope.DeleteOrder = function(name){
				$scope.orderList.forEach(function( order , i , list){
					if(order.name == name ){
						list.splice(i,1);
					}
				});
			}
			
			$scope.DeleteOrders = function(){
				for(var i = $scope.orderList.length-1;i>=0;i--){
					if($scope.orderList[i].selected){
						$scope.orderList.remove(i);
					}
				}
			}
			
			$scope.LoadOrderList();
		});
			
	</script>
	
  </body>
</html>