
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/demo.css" />
	</head>

	<body>
		<div id="app">

			<fieldset>
				<legend>
					Create New Person
				</legend>
				<div class="form-group">
					<label>Name:</label>
					<input id="userName" type="text" v-model="newPerson.name" />
					<span id="prompt_1">
						{{popText}}	
					</span>
				</div>
				<div class="form-group">
					<label>Age:</label>
					<input  id="Age" type="text" v-model="newPerson.age" />
					<span  id="prompt_2">
						{{popText2}}
					</span>
				</div>
				<div class="form-group">
					<label>Sex:</label>
					<select v-model="newPerson.sex">
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
				</div>
				<div class="form-group">
					<label></label>
					<button @click="createPerson">Create</button>
				</div>
		</fieldset>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Sex</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="person in people">
					<td>{{ person.name }}</td>
					<td>{{ person.age }}</td>
					<td>{{ person.sex }}</td>
					<td :class="'text-center'"><button @click="deletePerson">Delete</button></td>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
	<script src="js/vue.js"></script>
	<script src="js/vue_script_text.js" ></script>

</html>